
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    font-family: 'Open Sans', sans-serif;
    background-image: url(./imgs/bg.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    height: 1000;
    overflow-y:auto;
}

#header{
    width: 100%;
    padding: 0;
    margin-top: 0;
    text-align: center;
    color:#fcfbfb;
    text-shadow: 0px 2px 2px rgb(46, 69, 77);
    

}

.listaTodo{
    max-width: 50vw;
    height: auto;
    margin: 10vh auto;
    padding: 10vh;
    border-radius: 5px;
    background-color:#b4caf173;
    align-items: center;
    box-sizing: content-box;
    box-shadow: 5px 5px 15px rgba(81, 81, 81, 0.341);


}

#form{
    padding-bottom: 2rem;
    
    
}

#tarefa{
    width: 50vw;
}

#form > h2{
    padding-bottom: 1rem;
    font-weight: bold;
    color: #fffcfcf9;
    text-shadow: 0px 2px 2px rgb(46, 69, 77);
    

}

.controle-tarefa{
    display: flex;

}
.controle-tarefa input{
    margin-right: .3rem;
   
}

.tarefas{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    background-color: rgba(221, 222, 225, 0.796);
    padding: 1rem;
    margin-bottom: 1rem;
    width: auto;
    color: rgb(54, 54, 54)
}

.tarefas h3{
    flex: 1;
    font-size: 0.9rem;
}

.tarefas button{
    margin-left: .4rem;
}

.container p{
    color: aliceblue;
    text-align:left;
}

button{
    background-color:rgb(53, 147, 240);
    color: aliceblue;
    border: 1px solid rgba(73, 127, 227, 0.305);
    border-radius: 20%;
    padding: .3rem .6rem;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;

}

button:hover{
    background-color:rgb(92, 156, 240);
    box-shadow: 1px 1px 8px rgb(120, 176, 255);
    transition: .2s;
}



button i {
    color: rgb(234, 237, 243);
    font-weight: bold;
    pointer-events: none;
}

input {
    padding: .2rem .5rem;
    background-color:rgba(254, 254, 254, 0.672);
    border-bottom: 2px solid rgb(80, 167, 239);
    border-top: none;
    border-left: none;
    border-right: none;
    box-shadow: 0;
    outline: 0;
    color: rgb(99, 100, 100);
    
    
}

input:hover{
    border: 2px solid rgb(59, 144, 241);
    border-radius: 1px;
    transition: 0.4s;
}



.done{
    background-color: rgba(30, 107, 149, 0.408);
    box-shadow: none;
    

}

.done > h3{
    text-decoration: line-through;
    
}

.done > button {
    background-color: rgba(48, 87, 90, 0.296);
    border: none;
    box-shadow: none;
}



